# .htaccess

# SSL Cipher Suite can't be modified here because SSL termination is not done here.

# HSTS Strict Transport Security - Cache age 18 weeks
#Header always set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"

# Force HTTPS
RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule ^.*$ https://%{SERVER_NAME}%{REQUEST_URI}